
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 25px;
}

.container {
    max-width: 100%;
    width: 600px;
    margin: 0 auto;
    padding: 25px;
    height: auto; /* Adjusted to auto for responsiveness */
    background-color: #aac8e9;
    border-radius: 20px;
}

.topic1 {
    background-color: #042749;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.topic1 h1 {
    font-size: 2.5rem;
    margin: 0;
    line-height: 1.2;
}

.front {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.welcome-text {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
}

.btn1 {
    background-color: #25384d;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 300px;
    max-width: 100%; /* Adjusted for responsiveness */
}

.btn1:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .container {
        width: 100%; /* Adjusted to full width on smaller screens */
        padding: 15px; /* Reduced padding for smaller screens */
    }

    .btn1 {
        width: 100%; /* Full width button on smaller screens */
    }

}